body {
  padding-top: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.ibox-title {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
}

.tcl-form {
  background-color: #e9ecef;
  border: 1px solid #babbbb;
  border-radius: 5px;
  padding: 10px;
}

.border-radius-5px {
  border-radius: 5px;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.react-datepicker-wrapper {
  display: block
}

.font-weight-bold {
  font-weight: bold;
}

.scorecard-table {
  font-size: 14px;
  font-weight: 400;
}

.player-name {
  font-size: 3.5rem;
}

.player-name span {
  font-weight: 700
}

.player-stats {
  white-space: nowrap;
  padding: 1rem;
}

.player-stats li {
  display: inline-block;
  padding: 0 2rem;
  text-align: center;
  line-height: 1.2;
}

.player-stats-value {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}